@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

/* estilo padrão global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*configurção geral do documento*/
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/*romoção de estilo de lista padrão*/
li {
    list-style: none;
}

/*remoção do sublinhado dos links*/
a {
    text-decoration: none;
}

/*estilo do cabeçalho*/
.header {
    border-bottom: 1px solid #E2E8F0;
    background-color: rgba(0, 0, 0, 0.685);
    position: relative;
    z-index: 3;
}

/*estilo da barra de navegação*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1.5rem;
    position: relative;
    z-index: 3;
}

/*icones de barras para os dispositivos menores*/
.barras {
    display: none;
}

/*estilo das barras para dispositivos menores*/
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}

/*estilo do menu de negevação*/
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilo dos itens de navegação*/
.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
    position: relative;
}

.nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #f3f3f3;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

/*efeito hover nos links*/
.nav-link:hover::after {
    width: 100%;
    left: 0;
}

/*estilo dos links de nevegação*/
.nav-link:hover {
    color: #ffffff;
}

/*estilo do logo tipo*/
.nav-logo {
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}

/*estilo do menu de navegação para dispositivos menores*/
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #222;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-link {
        color: #fff;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .barras {
        display: block;
        cursor: pointer;
    }

    .barras.active .bar:nth-child(2) {
        opacity: 0;
    }

    .barras.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .barras.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* estilo do slide */

.container {
    padding: 3px; 
    width: 100%;

}

.slider-wrapper {
    position: relative;
    width: 100%; 
    max-width: 1000px; 
    margin: 0 auto; 
    overflow: hidden; 
}

.slide {
    position: relative; 
    display: flex;
    aspect-ratio: 16/9;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsl(0, 0%, 0%, 0.25);
    border-radius: 10px; 
    transition: transform 0.5s ease; 
}

.slide img {
    width: 100%;
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    z-index: 1; 
}

.slider-nav {
    position: absolute;
    bottom: 1.25%; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; 
    display: flex;
    justify-content: center; 
}

/* Adicionando estilo para o link ativo */

.slider-nav a {
    position: relative;
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms, background-color ease 250ms; 
    margin: 0 5px; 
}


.slider-nav a.active {
    background-color: #482ff7; 
    cursor: pointer; 
}


.slider-nav a:hover {
    background-color: #999; 
    opacity: 1;
}

footer {
    height: 200px;
    background: #482ff7;
}